<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title float-left">Manage Users</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="#">Taxi Drivers</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-box table-responsive">
                    <div class="col-12 px-3 mb-3 d-flex justify-content-between align-items-center">
                        <h4 class="m-t-0 header-title"><b>Taxi Drivers</b></h4>
                        <a href="/admin/users/taxi_drivers/create"><button type="button"
                                class="btn btn-custom waves-light waves-effect w-md">Add Taxi Driver</button></a>
                    </div>
                    <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0"
                        width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Gender</th>
                                <th>DOB</th>
                                <th>Is Approved</th>
                                <th class="text-center" >Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% taxiDrivers.forEach((value, key) => { %>

                                <tr>
                                    <td><%= value.first_name +' '+ value.last_name %></td>
                                    <td><%= value.email %></td>
                                    <td><%= value.mobile_no %></td>
                                    <td><%= value.gender %></td>
                                    <td><%= value.dob %></td>
                                    <td>

                                        <%if (value.is_approved == '1') { %>

                                            Approved

                                        <% } else{ %>

                                            <input type="checkbox" class="sa-status" data-plugin="switchery" data-size="small" data-color="#1bb99a" data-id="<%= value.id %>" value="<%= value.is_approved %>"  <%= (value.is_approved == '1') ? 'checked' : '' %> />
                                            <form id="status-form-<%= value.id %>" action="/admin/users/vendors/is_approved/<%= value.id %>" method="post" style="display: none;" >
                                                <input class="status-value-<%= value.id %>" type="hidden" name="status" value="<%= value.status %>">
                                            </form>

                                        <% } %>

                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="sa-status" data-plugin="switchery" data-size="small" data-color="#1bb99a" data-id="<%= value.id %>" value="<%= value.status %>"  <%= (value.status == '1') ? 'checked' : '' %> />
                                        <form id="status-form-<%= value.id %>" action="/admin/users/taxi_drivers/update_status/<%= value.id %>" method="post" style="display: none;" >
                                            <input class="status-value-<%= value.id %>" type="hidden" name="status" value="<%= value.status %>">
                                        </form>
                                    </td>
                                    <td class="text-center">
                                        <a href="#" class="hidden on-editing save-row pr-2 text-info" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="View"><i
                                                class="fa fa-eye"></i></a>
                                        <a href="/admin/users/taxi_drivers/edit/<%= value.id %>" class="on-default edit-row pr-1 text-primary" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Edit"><i
                                                class="fa fa-edit"></i></a>
                                        <a href="javascript:void(0)" class="on-default remove-row text-danger sa-params" data-toggle="tooltip"
                                            data-placement="top" data-id="<%= value.id %>" title="" data-original-title="Delete"><i
                                            class="fa fa-trash-o"></i></a>
                                        <form id="delete-form-<%= value.id %>" action="/admin/users/taxi_drivers/delete/<%= value.id %>" method="post" style="display: none;" ></form>    
                                    </td>
                                </tr>
    
                            <% }) %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>